---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;
---

<a class="navbar-brand inline-block" href="/">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <>
        <ImageMod
          alt={title}           class={`inline-block ${theme_switcher && "dark:hidden"}`}           format="webp"           height={logo_height.replace("px", "") * 2}           src={src ? src : logo}           style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
          }}           width={logo_width.replace("px", "") * 2}
        />
        {theme_switcher && (
          <ImageMod
            alt={title}             class={"hidden dark:inline-block"}             format="webp"             height={logo_height.replace("px", "") * 2}             src={srcDarkmode ? srcDarkmode : logo_darkmode}             style={{
              height: logo_height.replace("px", "") + "px",
              width: logo_width.replace("px", "") + "px",
            }}             width={logo_width.replace("px", "") * 2}
          />
        )}
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
