---
import BlogCard from "@/components/BlogCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContentEntryMap } from "astro:content";

// get all static paths for tags
export async function getStaticPaths() {
  const { default_language } = config.settings;

  const paths = await Promise.all(
    supportedLang.map(async (lang) => {
      const tags = await getTaxonomy(lang as keyof ContentEntryMap, "tags");

      return tags.map((tag) => ({
        params: {
          lang: lang || undefined,
          tag: tag,
        },
        props: {
          tag,
        },
      }));
    })
  );

  // Handle default path (no lang)
  const defaultCategories = await getTaxonomy(
    default_language as keyof ContentEntryMap,
    "tags"
  );
  const defaultPaths = defaultCategories.map((tag) => ({
    params: {
      lang: undefined,
      tag: tag,
    },
    props: {
      tag,
    },
  }));

  return [...paths.flat(), ...defaultPaths];
}

const { tag, lang } = Astro.params;

// get posts by tag
const BLOG_FOLDER = "blog";
const posts = await getSinglePage(BLOG_FOLDER, lang as keyof ContentEntryMap);
const filterByTags = taxonomyFilter(posts, "tags", tag!);
const sortedPosts = sortByDate(filterByTags);
---

<Base title={tag}>
  <PageHeader title={tag} />
  <div class="section-sm pb-0">
    <div class="container">
      <div class="row">
        {
          sortedPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Base>
