---
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class="bg-light dark:bg-darkmode-light">
  <div class="border-t border-border py-7 dark:border-darkmode-border">
    <div
      class="container text-center text-text-light dark:text-darkmode-text-light"
    >
      <p set:html={markdownify(config.params.copyright)} />
    </div>
  </div>
</footer>
