---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import { siteConfig, socialConfig } from "@/lib/siteConfig";
import {
  getLangFromUrl,
  getTranslations,
  slugSelector,
} from "@/lib/utils/languageParser";
import { markdownify } from "@/lib/utils/textConverter";

const lang = getLangFromUrl(Astro.url);
const { footer } = (await getTranslations(lang)) as {
  footer: { name: string; url: string }[];
};
---

<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <Logo />
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {
            footer.map((menu) => (
              <li class="m-3 inline-block">
                <a href={slugSelector(menu.url, lang)}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <Social source={socialConfig.main} className="social-icons" />
      </div>
    </div>
  </div>
  <div class="border-t border-border py-7 dark:border-darkmode-border">
    <div
      class="container text-center text-text-light dark:text-darkmode-text-light"
    >
      <p set:html={markdownify(siteConfig.params.copyright)} />
    </div>
  </div>
</footer>
