/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply max-lg:block;
}

/* swiper pagination */
.swiper-pagination-bullet {
  @apply size-2.5! bg-light! opacity-100! dark:bg-darkmode-light!;
}

.swiper-pagination-bullet-active {
  @apply size-4! bg-primary! dark:bg-darkmode-primary!;
}
