---
import Base from "@/layouts/Base.astro";
---

<Base title="页面没有找到">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark"
          >
            404
          </span>
          <h1 class="h2 mb-4">页面没有找到</h1>
          <div class="content">
            <p>
              您要查找的页面可能已被删除、已更名或暂时无法访问。
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">返回首页</a>
        </div>
      </div>
    </div>
  </section>
</Base>
