---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";

// const homepage = await getListPage("homepage", "-index");

// const { content } = homepage.data;

const logo = '/images/headshot.png'
---

<Base>
  <section class="section container flex grow justify-center">
    <div class="lg:col-7 md:col-9 mb-8 text-center">
      <div class="avatar-wrapper">
        <ImageMod
          class="avatar-circle"
          src={logo}
          height={380}
          width={380}
          alt="logo"
          format="png"
        />
      </div>
      <h1>Hey, I'm Tyler</h1>
      <Social source={social.main} className="social-icons" />
    </div>
  </section>
</Base>