name: Deploy Astro site to VPS

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy-vps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.20.0 
          #cache: yarn 

      - name: Install dependencies
        run: yarn install

      - name: Build project
        env:
          NODE_ENV: production
        run: yarn build
        
      - name: Deploy to VPS
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.VPS_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.VPS_HOST }}
          REMOTE_USER: ${{ secrets.VPS_USER }}
          TARGET: ${{ secrets.VPS_SITE_PATH }}
          SOURCE: "dist/"
          ARGS: "-avz --delete"